[submodule "vendor/cl-prolog"]
	path = vendor/cl-prolog
	url = https://github.com/nerima-lisp/cl-prolog.git
[submodule "vendor/cl-weave"]
	path = vendor/cl-weave
	url = https://github.com/nerima-lisp/cl-weave.git
